* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-direction: column;
}

.handle-container {
  display: flex;
  flex-grow: 0;
}

.handle {
  border: 1px solid green;
  padding: 10px;
  display: flex;
}

.handle + .handle {
  margin-left: 10px;
}

.tab {
  border: 1px solid blue;
  padding: 10px;
  display: none;
  flex-grow: 1;
}

.active-tab {
  display: flex;
}

.active-handle {
  background-color: turquoise;
}
