pwc-tabview {
  display: flex;
  flex-direction: column;
}

pwc-tabview-handle {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

pwc-tabview-tab {
  display: none;
  border: 1px solid black;
  padding: 10px;
}

.pwc-tabview___handle-container {
  display: flex;
  padding-left: 1px;
}

.pwc-tabview___active-tab {
  display: block;
}

.pwc-tabview___active-handle {
  background-color: turquoise;
}
